<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ site.description }}">
<meta name="tags" content="{% for tag in site.tags %}{{tag}},{% endfor %}">
<link rel="shortcut icon" href="{{ site.baseurl }}{{ site.favicon }}">

<title>{{ site.name }}</title>

{% for stylesheet in site.styles %}
	{% assign truncstring = stylesheet|truncate: 5 %}
	<link href="{% if truncstring contains '//' %}{% else %}{{ site.baseurl }}{%endif%}{{ stylesheet }}" rel="stylesheet">
{% endfor %}

<!--[if lt IE 9]>
	<script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->