---
layout: pagelayout
---
{% assign author = site.authors.[page.author] %}
<div class="container">
    <div class="row">
        <div class="col-lg-8">
        	{% if page.title %}
            <h1>{{ page.title }}</h1>
            {% endif %}
            <hr>
            {% if page.image %}
            	{% include gallery.html %}
		        <div class="article-image">
		        	<a href="{{ page.image }}" data-gallery>
			            <img src="{{ page.image }}" class="img-responsive">
		        	</a>
				</div>
				<hr>
            {% endif %}

            {{ content }}
        </div>

        <div class="col-lg-4">
	        {% include widgets/sitemap.html %}
        </div>
    </div>
</div>